version: 2
jobs:
  build:
    working_directory: ~/starter-kit
    docker:
      - image: circleci/node:7.10
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: install-dependencies
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: run tests
          command: yarn test
      #- run:
      #    name: code-coverage
      #    command: './node_modules/.bin/nyc report --reporter=text-lcov'
      - store_artifacts:
          path: test-results.xml
          prefix: tests
      #- store_artifacts:
      #    path: coverage
      #    prefix: coverage
      - store_test_results:
          path: test-results.xml
